/__pycache__
/.vscode
/videolatenzien/__pycache__
/videolatenzien/.vscode
/commands/data.pkl
test.py
/config/versieonline.txt
test.json
/videolatenzien
/node_modules
/ai
/commands/__pycache__
/website/node_modules
/website/.pnp
/website/.pnp.js
/website/coverage
/website/.next/
/website/out/
/website/build
/website/.DS_Store
/website/*.pem
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/.env.local
/website/.env.development.local
/website/.env.test.local
/website/.env.production.local
/website/.vercel
main.bin